/*--------------------------------------------------------------------------
*
*	Google Map
*	
*-------------------------------------------------------------------------*/

.acf-address-map {
	position: relative;
	border: #DFDFDF solid 1px;
	background: #fff;
}

.acf-address-map .title {
	position: relative;
	border-bottom: #DFDFDF solid 1px;
	padding: 5px 10px;
}

.acf-address-map .has-value { display: none; }
.acf-address-map .no-value { display: block; }

.acf-address-map.active .has-value { display: block; }
.acf-address-map.active .no-value { display: none; }

.acf-address-map .title h4,
.acf-address-map .title input[type="text"] {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	padding: 0;
	border: 0 none;
	box-shadow: none;
	border-radius: 0;
	font-family: inherit;
	cursor: text;
}

.acf-address-map .title .acf-icon {
	right: 7px;
	top: 6px;
	position: absolute;
}


.pac-container {
	margin-left: -1px;
	margin-top: -1px;
	padding: 5px 0;
	border-color: #DFDFDF;
}

.pac-container:after {
	display: none;
}

.pac-container .pac-item {
	padding: 5px;
	margin: 0 5px;
}


input[type="url"] {
	width: 100%;
	padding: 5px;
	resize: none;
	margin: 0;
}


.acf-address-map .address {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	border-right: #DFDFDF solid 1px;
	height: 100%;
}

.acf-address-map .address table {
	margin: 15px auto;
}

.acf-address-map .address td {
	text-align: center;
}

.acf-address-map .address td:first-child {
	text-align: left;
}

.acf-address-map .address .location td input {
	display: inline-block;
	width: 49%;
	pointer-events: none !important;
	background: #e4e4e4;
}

.acf-address-map .canvas {
	height: 385px;
	width: 49%;
	display: inline-block;
	margin-left: 0.5%;
	margin-top: 10px;
}
